{% load static %}

<nav class="navbar navbar-expand-lg bg-warning px-4">
    <a class="navbar-brand text-dark" href="#">
        <i class="fa-sharp fa-regular fa-futbol"></i>
    </a>
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#accionesPartidos" 
      aria-controls="navbarAccionesPartidos" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="accionesPartidos">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active link-dark" aria-current="page" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link link-dark dropdown-toggle" href="#" 
                    id="accionesPartidosLink" 
                    role="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
                    Partidos
                </a>
                <ul class="dropdown-menu" aria-labelledby="accionesPartidosLink">
                    <li><a class="dropdown-item" href="{% url 'partidos_realizados' %}">Ver partidos</a></li>
                    <li><a class="dropdown-item" href="{% url 'partido_create' %}">Crear partido</a></li>
                    <li><a class="dropdown-item" href="{% url 'partido_buscar_avanzado' %}">Busqueda Avanzada de partidos</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'listar_recintos' %}">Ver recintos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'partidos_usuario' 1 %}">Partidos creados usuario 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'futbol_sala_siete' %}">Partidos de fútbol sala o 7 disponibles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'ganados_locales' %}">Partidos locales ganados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-dark active" href="{% url 'appFutbol-usuario-list' %}">lista usuarios crud-automatic</a>
            </li>
            <li class="login nav-item ms-lg-5">
                <a class="acceder nav-link link-primary" href="#">ACCEDER</a>
                <div class="submenu">
                    <form action="" method="post">
                        <input type="text" placeholder="Usuario"><br>
                        <input type="password" placeholder="Contraseña"><br>
                        <input type="submit">
                    </form>
                    <a href="">Registrarse</a>
                </div>
            </li>
        </ul>
        <form action="{% url 'recinto_buscar' %}" class="d-flex mt-3" role="search" method="GET">
            <input name="textoBusqueda" class="form-control me-2" type="search" placeholder="Buscar recintos (ubicación)" aria-label="Search">
            <button class="btn btn-light btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
</nav>