<menu>
    <i class="fa-sharp fa-regular fa-futbol"></i>

        <div class="topbar">
            <a href="{% url 'reserva_create' %}">Crear reserva</a>
            <a href="{% url 'lista_usuarios' %}">Usuarios</a>
            <a href="{% url 'buscar_usuario' 'GOA' %}">Porteros</a>
            <a href="{% url 'reservas_realizadas' %}">Reservas</a>
            <a href="{% url 'reservas_usuario' 1 %}">Reservas usuario 1</a>
            <a href="{% url 'futbol_sala_siete' %}">Partidos de fútbol sala o 7 disponibles</a>
            <a href="{% url 'ganados_locales' %}">Partidos locales ganados</a>
        </div>
        
        <div class="login">
            <a class="acceder" href="">ACCEDER</a>
            <div class="submenu">
                <form action="" method="post">
                    <input type="text" placeholder="Usuario"><br>
                    <input type="password" placeholder="Contraseña"><br>
                    <input type="submit">
                </form>
                <a href="">Registrarse</a>
            </div>
        </div>
</menu>