{% extends "principal.html" %}

{% block cabecera_extra %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/eliminarpartido.js' %}"></script>
{% endblock %}

{% block cabecera %}
    {% if not texto_busqueda is None %}
        <h4>{{ texto_busqueda }}</h4>
    {% else %}
        <h1>Listado de partidos</h1>
    {% endif %}
{% endblock %}

{% block contenido %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% for partido in partidos %}
        <ul>
            <li>
                <p>Hora:  {{ partido.hora }}</p>
                <p>Estado: {{ partido.get_estado_display }}</p>
                <p>Tipo: {{ partido.get_tipo_display }}</p>
                <p>Estilo: {{ partido.get_estilo_display }}</p>
                <p>Creador de la campo_reservado: {{ partido.creador.nombre }}</p> 
                <p>Campo reservado: {{ partido.campo_reservado.nombre }}</p>
                <h5>Jugadores:</h5>
                {% for usu in partido.usuarios_jugadores.all %}
                    <p>{{ usu }}</p>
                {% endfor %}
                <a href="{% url 'partido_editar' partido.id %}">EDITAR</a>
                <form action="{% url 'partido_eliminar' partido.id %}" method="post">
                    {% csrf_token %}
                    <button onclick="return eliminar();" type="submit">
                        ELIMINAR
                    </button>
                </form>
            </li>
        </ul>
    {% empty %}
        <p>No existe ningún partido</p>
    {% endfor %}
{% endblock %}