{% extends "principal.html" %}

{% block cabecera %}
    <h1>{{ texto_bsuqueda }}</h1>
{% endblock %}

{% block contenido %}
    {% for partido in partidos %}
        <ul>
            <li>
                <p>Estado: {{ partido.get_estado_display }}</p>
                <p>Tipo: {{ partido.get_tipo_display }}</p>
                <p>Estilo: {{ partido.get_estilo_display }}</p>
                <p>Creador de la reserva: {{ partido.creador.nombre }}</p> 
                <p>Campo reservado: {{ partido.campo_reservado.nombre }}</p>
            </li>
        </ul>
    {% empty %}
        <p>Lo sentimos pero no hay reservas con ese nombre de creador</p>
    {% endfor %}
{% endblock %}