{% extends "principal.html" %}

{% block cabecera %}
    <h1>{{ texto_bsuqueda }}</h1>
{% endblock %}

{% block contenido %}
{% for recinto in recintos %}
        <ul>
            <li>
                <h4>{{ recinto.nombre }}</h4>
                <p>Ubicación: {{ recinto.ubicacion }}</p>
                <p>Teléfono: {{ recinto.telefono }}</p>
                <p>Hora: {{ recinto.partido.hora }}</p>
                <p>Tipo: {{ recinto.campo_reservado.get_tipo_display }}</p>
                <p>Estilo: {{ recinto.campo_reservado.get_estilo_display }}</p>
                <p>Creador del campo reservado: {{ recinto.campo_reservado.creador.nombre }}</p> 
                <h5>Jugadores:</h5>
                {% for usu in recinto.campo_reservado.usuarios_jugadores.all %}
                    <p>{{ usu.nombre }}</p>
                {% endfor %}
            </li>
        </ul>
{% empty %}
        <p>No existe ningún recinto en esa ubicación mostro</p>
{% endfor %}
{% endblock %}