<!DOCTYPE html>
{% extends "principal.html" %}
{% block cabecera %}
    <h1>Disponibles</h1>
{% endblock %}

{% block contenido %}
    {% for partido in partidos %}
        <ul>
            <li>
                <h2>Estilo: {{ partido.estilo }}</h2>
                <h3>Jugadores del partido</h3>
                    {% for usu in partido.usuarios_jugadores.all %}
                        <p>Nombre: {{ usu.nombre }}</p>
                    {% endfor %}

                <h3>Reserva del partido</h3>
                    <p>Estado: {{ partido.reserva_partido.estado }}</p>
                    <p>Tipo: {{ partido.reserva_partido.tipo }}</p>
                    <p>Número de jugadores: {{ partido.reserva_partido.n_jugadores }}</p>
            </li>
        </ul>
    {% endfor %}
{% endblock %}