{% extends "principal.html" %}

{% block cabecera %}
    <h1>Lista de reservas</h1>
{% endblock %}

{% block contenido %}
    {% for reserva in reservas %}
        <ul>
            <li>
                <p>Estado: {{ reserva.get_estado_display }}</p>
                <p>Tipo: {{ reserva.get_tipo_display }}</p>
                <p>Número de jugadores: {{ reserva.n_jugadores }}</p>
                <p>Creador de la reserva: {{ reserva.creador.nombre }}</p> 
                <p>Campo reservado: {{ reserva.campo_reservado.nombre }}</p>
            </li>
        </ul>
    {% empty %}
        <p>No existe ninguna reserva creada.</p>
    {% endfor %}
{% endblock %}