{% extends "principal.html" %}
{% block cabecera %}
    <h1>Reservas del Usuario {{ usuario.id }}</h1>
{% endblock %}

{% block contenido %}
    {% for reserva in reservas %}
        <ul>
            <li>
                <p>Estado: {{ reserva.estado }}</p>
                <p>Tipo: {{ reserva.tipo }}</p>
                <p>Número jugadores: {{ reserva.n_jugadores }}</p>
                <p>Campo reservado: {{ reserva.campo_reservado.nombre }}</p>
            </li>
        </ul>
        {% empty %}
        <p>Lo siento el usuario aún no hizo ninguna reserva</p>
    {% endfor %}
{% endblock %}